

/*
  Home page styles
  ---------------------

.topbar-container {
    background: white;
}

#home-search-wrap {
    position: absolute;
    top: 25%;
    z-index: 10;
    background-color: white;
    width: 100%;
}
*/